<?xml version="1.0" encoding="UTF-8"?>
<plugin id="paudan.uml2sbvr.plugin"
        name="A plugin to extract SBVR business vocabulary and business rules from UML diagrams"
        version="1.0"
        provider-name="Paulius Danėnas"
        class="org.ktu.model2sbvr.UML2SBVRPlugin"
	ownClassloader="true">
    <requires>
        <api version="1.0"/>
        <required-plugin id="com.nomagic.magicdraw.diagramtable" name="Diagram Table"/>	
        <required-plugin id="org.vepsem.md.VepsemPlugin.v3.0" name="VEPSEM Model Transformation Plugin"/>
        <required-plugin id="com.nomagic.magicdraw.emfuml2xmi.v4" name="Eclipse UML2 (v4.x) XMI Export/Import"/>
        <required-plugin id="org.vetis.sbvr.md.VetisPlugin.v1.1" name="VeTis Business Rule Editor integration plugin"/>	
    </requires>
    <runtime>
        <library name="model2sbvr.jar"/>
    </runtime>
</plugin>